section,
footer {
    padding: 60px 0;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

/* NAVIGATION */
header nav ul {
    transform: scaleY(0);
}

header nav ul.on {
    transform: scaleY(1);
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    top: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    transition: all .2s linear;
}

header nav ul li a {
    font-size: 14px;
}

header .nav_wrap .hamburger {
    display: block;
}

/* HEADER */
header {
    height: 125vh;
}

header .app_title,
header .text {
    position: static;
    width: 100%;
    text-align: center;
    max-height:none;
    transform:none;
}

header .app_title {
    height: 150vh;
}

header .text {
    width: 100%;
}

header .app_title .text .title {
    top: 15%;
    font-size: 25px;
    width: 100%;
}

header .text .desc {
    top: 23%;
    width: 90%;
}

header .text {
    width: 90%;
    margin: 0 auto;
}

header .header_appimg {
    position: static;
    width: 80%;
    margin: 0 auto;
    height: 60vw;
    /* border: 1px solid red; */
}

header .app_title .btn button:nth-child(1) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: #000;
    width: 100%;
    height: 50px;
}

header .app_title .btn button:nth-child(2) {
    display: none;
}

header .app_title button>a {
    padding: 10px 10px;
    background-color: #000;
}

header .app_title button i {
    font-size: 15px;
}

header .app_title button:nth-child(1) {
    margin-bottom: 0;
}

header .app_title .text .desc {
    font-size: 1em;
}

header .app_title img {
    left: 50%;
    transform: translateX(-50%);
    top: 32%;
    width: 80%;
    max-width: 300px;
    min-width: 250px;
}

header #main_video {
    margin-top: 65%;
    width: 70%;
    position: static;
    max-width: 500px;
    min-width: 250px;
}

/* SLIDER */
#slider {
    padding-top: 120px;
    padding-bottom: 0;
    height: 170vw;
}

#slider .slick-next,
#slider .slick-prev {
    top: 35%;
    z-index: 100;
}

#slider .slick-next {
    right: 1%;
}

#slider .slick-prev {
    left: 1%;
}

#slider .slick-dots {
    top: -60px;
}

#slider div.slick-slide {
    width: 100%;
}

#slider .slick-slide img {
    width: 80%;
    margin: 0 auto;
}

#slider .slick-dots li {
    width: 28%;
    /* border:1px solid red; */
    text-align: center;
}

#slider .slick-dots li button:before {
    font-size: 15px;
}

#slider .slider_text {
    width: 100%;
    height: 80px;
    position: static;
    text-align: center;
    margin-top: 70px;
}

#slider .slider_text h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

#slider .slider_text p {
    font-size: 13px;
}

/* cosmetic_box */
#cosmetic_box {
    padding-bottom: 0;
}

#cosmetic_box i {
    font-size: 35px;
    margin-bottom: 20px;
}

#cosmetic_box p {
    font-size: 12px;
}

#cosmetic_box>div {
    flex-flow: column;
    padding:0;
    width:90%;
}

#cosmetic_box>div img {
    width: 100%;
    position:static;
}

#cosmetic_box>ul {
    height: auto;
    width: 80%;
}

#cosmetic_box>ul::before {
    margin-bottom: 50px;
}

#cosmetic_box>ul li {
    position: static;
    width: 100%;
    margin-bottom: 40px;
}

#cosmetic_box>ul li:nth-child(2) {
    left: 0;
    transform: none;
}

#cosmetic_box>ul li:last-child {
    margin-bottom: 0;
}

#cosmetic_box ul img {
    margin-bottom: 20px;
}

#cosmetic_box>div>div {
    width:100%;
}

#cosmetic_box>div>div h6{
    line-height: 20px;
    width:100%;
}

/* STEP */

#step ul{
    flex-flow: column;
    justify-content: center;
    width:90%;
}

#step ul li{
    width:100%;
}

#step ul li>div{
    
    
}

#step ul li:after{
    left:50%;
    top:85%;
    transform: translateX(-50%);
    animation: rotate; 
    background-image: url('../images/arrow.png');
}

/* CALENDAR */
#calendar {
    padding: 0;
}

#calendar .calendar_img_text {
    flex-flow: column;
}

#calendar .calendar_img_text>div,
#calendar .calendar_img_text h6,
#calendar .calendar_img_text p {
    position: static;
}

#calendar>div img {
    width: 80%;
}

#calendar .calendar_img_text>div {
    margin-top: 50px;
    width: 100%;
}

#calendar>div h4 {
    margin-bottom: 30px;
}

#calendar .calendar_img_text p {
    transform: translate(0);
}

/* CONTACT */
#contact>div {
    flex-flow: column;
}

#contact .cotact_text {
    margin: 0 0 20px 0;
}

/* FOOTER */
footer li {
    font-size: 11px;
}