#slider > div,
#cosmetic_box > div,
#calendar > div,
#contact > div,
footer > div,
#cosmetic_box > ul,
#partners {
	width: 90%;
}

h3 {
	font-size: 10px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 15px;
}

/* HEADER */
header {
	overflow: hidden;
}

header .app_title {
	vertical-align: middle;
}

header .app_title .text .title {
	font-size: 2.5em;
}

header .app_title .text .desc {
	font-size: 1.1em;
}

header .app_title .btn {
	flex-flow: column;
	height: 160px;
	justify-content: space-between;
}

button:nth-child(1),
button:nth-child(2) {
	margin-right: 0;
}

header .app_title img {
	right: -13%;
}

/* cosmetic box */
#cosmetic_box {
	padding: 0;
}

#cosmetic_box > div > div h6 {
	line-height: 25px;
}

/* step */
#step {
	margin-top: 0;
}

#step ul {
	width: 90%;
}

#step ul li > div {
	width: 150px;
	height: 150px;
}

#step ul li p {
	top: 70%;
}

/* contact */
#contact {
	padding: 0;
}

/* REVIEW */
.review_slider_wrap {
	width: 90%;
}

/* FOOTER */
footer > ul {
	width: 90%;
}
