
header{
    height:100vh;
}

header .app_title{
    width:90%;
}

header .text .title{
    font-size: 1.7em;
}

header .text .desc{
    font-size: 1.1em;
    line-height: 1.2em;
}

button:nth-child(1){
    margin-right: 0;
    margin-bottom: 20px;
}

header .app_title .btn{
    flex-wrap: wrap;
}