#slider>div,
#cosmetic_box>div,
#calendar>div,
#contact>div,
footer>div,
#cosmetic_box>ul {
    width: 90%;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

/* HEADER */
header .app_title{
    width:90%;
    vertical-align: middle;
}

header .app_title .text .title{
    font-size: 1.7em;
}

header .app_title .text .desc{
    font-size: 1.1em;
}

header .app_title button:nth-child(1){
    margin-right: 0;
    margin-bottom: 20px;
}

header .app_title .btn{
    flex-wrap: wrap;
    height:100px;
    justify-content: center;
}

header .header_appimg{
    background-position: center;
    background-size:100%;
}

/* CALENDAR */
#calendar .calendar_img_text h6 {
    top: 10%;
}

/* REVIEW */
.review_slider_wrap{
    width:90%;
}

/* FOOTER */
footer>ul{
    width:90%;
}