/* 공통 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #343A40;
    /* color: #ADB5BD; */
}

section {
    padding: 100px 0;
}

button {
    border: 0;
}

button:nth-child(1) {
    margin-right: 20px;
}

button>a {
    display: inline-block;
    padding: 15px 32px;
    border: 0;
    border-radius: 40px;
    background-color: #43BFA1;
    color: #fff;
    font-size: 18px;
    transition: background-color .3s linear;
    /* border:1px solid red; */
}

button>a:hover {
    background-color: #378f79;
}

i {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

h3 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}

h4 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

h5 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

h6 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

/* NAV */
header .nav_wrap {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px -1px 20px -1px #ddd;
}

header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header h1 {
    margin: 10px 0;
    text-align: center;
}

header h1 img {
    width: 100px;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li a {
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

/* HEADER */
header {
    border: 1px solid red;
    background-color: #F7F3EB;
}

header .app_title {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0 auto;
    /* border: 1px solid red; */
}

header .text_btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    width: 50%;
}

header .text {
    text-align: center;
}

header .text .title {
    width: 100%;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    animation-name: title_ani;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes title_ani {
    from {
        opacity: 0;
        left: 30%;
    }

    to {
        opacity: 1;
    }
}

header .text .desc {
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    animation-name: desc_ani;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    transition: all .2s linear;
}

@keyframes desc_ani {
    from {
        opacity: 0;
        left: 70%;
    }

    to {
        opacity: 1;
    }
}

header .header_appimg {
    background-image: url("../images/unnis.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 700px;
    background-position: center;
    background-size: 75%;
    border: 1px solid red;
}

header .app_title .btn {
    width: 100%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

header .app_title button i {
    width: 150px
}

header .app_title button:nth-child(1) {
    position: relative;
    animation-name: btn1_ani;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    bottom: 0%;
    transition: all .2s linear;
}

@keyframes btn1_ani {
    from {
        opacity: 0;
        bottom: -20%;
    }

    to {
        opacity: 1;
    }
}

header .app_title button:nth-child(2) {
    position: relative;
    animation-name: btn2_ani;
    animation-duration: 1.8s;
    animation-timing-function: ease-in;
    bottom: 0%;
    transition: all .2s linear;
}

@keyframes btn2_ani {
    from {
        opacity: 0;
        bottom: -20%;
    }

    to {
        opacity: 1;
    }
}

/* SLIDER SECTION */
#slider {
    background-color: #43BFA1;
    padding-top: 100px;
    position: relative;
    height: 700px;
    overflow: hidden;
}

#slider > div{
    width:70%;
    margin: 0 auto;
    border:1px solid red;
}

#slider>div>.slider_tab {
    display: flex;
    justify-content: center;
    border:1px solid blue;
}

#slider>div>.slider_tab li a {
    display: block;
    padding: 10px 50px;
    color: #fff;
    padding: 20px;
}

#slider>div>.slider_tab li a:hover {
    color: #000;
}

#slider>div>.slider_img_text>li {
    display: none;


}

#slider>div>.slider_img_text>li.on {
    display: block;
}

#slider>div>.slider_img_text>li>div {
    position: absolute;
    top: 400px;
    left: 55%;
    border: 1px solid red;
}

#slider>div>.slider_img_text>li>div>h3 {
    margin-bottom: 30px;
}

#slider>div>.slider_img_text>li>div>p {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#slider>div>.slider_img_text>li>img {
    position: absolute;
    top: 200px;
    left: 25%;
    width: 300px;
}

/* COSMETIC BOX SECTION */
#cosmetic_box {
    background-color: #fffdf9;
}

#cosmetic_box>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;
}

#cosmetic_box>ul {
    margin: 50px auto;
    width: 70%;
    position: relative;
}

#cosmetic_box>ul li {
    text-align: center;
    position: absolute;
}

#cosmetic_box>ul li:nth-child(1) {
    top: 0;
    left: 0;
}

#cosmetic_box>ul li.ani:nth-child(1) {
    animation-name: li_1_ani;
    animation-duration: 1s;
}

@keyframes li_1_ani {
    from {
        opacity: 0;
        top: 70px;
    }

    to {
        opacity: 1;
    }
}

#cosmetic_box>ul li:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#cosmetic_box>ul li.ani:nth-child(2) {
    animation-name: li_2_ani;
    animation-duration: 2s;
}

@keyframes li_2_ani {
    from {
        opacity: 0;
        top: 70px;
    }

    to {
        opacity: 1;
    }
}

#cosmetic_box>ul li:nth-child(3) {
    top: 0;
    right: 0;
}

#cosmetic_box>ul li.ani:nth-child(3) {
    animation-name: li_3_ani;
    animation-duration: 3.2s;
}

@keyframes li_3_ani {
    from {
        opacity: 0;
        top: 70px;
    }

    to {
        opacity: 1;
    }
}

#cosmetic_box i {
    font-size: 50px;
    color: #F29774;
    margin-bottom: 50px;
}

/* CALENDAR */
#calendar {
    background-color: #fffdf9;
}

#calendar>div {
    width: 70%;
    border: 1px solid red;
    margin: 0 auto;
}

#calendar>div h4 {
    text-align: center;
    margin-bottom: 50px;
}

#calendar>div img {
    width: 40%;
}

#calendar .calendar_img_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid blue;
}

#calendar .calendar_img_text h6 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
    position: absolute;
    top: 30%;
    right: 15%;
}

#calendar .calendar_img_text h6.ani {
    animation-name: calendar_title_ani;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes calendar_title_ani {
    from {
        right: 10%;
        opacity: 0;
    }

    to {
        right: 15%;
        opacity: 1;
    }
}

#calendar .calendar_img_text p {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid red;
    position: absolute;
    top: 40%;
    right: 17%;
}

#calendar .calendar_img_text p.ani {
    animation-name: calendar_desc_ani;
    animation-timing-function: ease;
    animation-duration: 2s;
}

@keyframes calendar_desc_ani {
    from {
        right: 5%;
        opacity: 0;
    }

    to {
        right: 17%;
        opacity: 1;
    }
}

/* CONTACT SECTION*/
#contact {
    background-color: #F7F3EB;
}

#contact>div {
    width: 70%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#contact .cotact_text {
    margin: 50px 0;
}

#contact button {
    margin-top: 0;
}

#contact button a {
    display: block;
    background-color: #43BFA1;
    padding: 20px 40px;
}

/* FOOTER SECTION */
footer {
    margin: 100px 0;
}

footer>div {
    width: 70%;
    margin: 0 auto;
}

footer li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
}