/* 공통 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

button {
    margin-top: 50px;
    border: 0;
}

button>a {
    padding: 20px 50px;
    margin: 10px;
    border: 0;
    border-radius: 40px;
    background-color: #43BFA1;
    color: #fff;
    color: #fff;
    font-size: 18px;
    transition: background-color .3s linear;
}

button>a:hover {
    background-color: #378f79;
}

i {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

/* HEADER */
header {
    border: 1px solid red;
    background-color: #F7F3EB;
}

header h1 {
    margin: 30px 0;
    text-align: center
}

header>div {
    width: 70%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid blue; */
    margin: 0 auto;
}

header .text_btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    vertical-align: middle;
}

header .text {
    /* border: 1px solid red; */
    text-align: center;
}

header .text .title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

header .text .desc {
    font-size: 20px;
    margin-top: 30px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

header .header_appimg {
    background-image: url("images/unnis1.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    background-position: top;
    background-size: 500px;
    /* border: 1px solid red; */
}